<!doctype html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Пароль изменен</title>
</head>
<body>

 <style>
    body {
      height: 100vh;
      display: flex; /* Используем Flexbox */
      justify-content: center; /* Горизонтальное выравнивание по центру */
      align-items: center; /* Вертикальное выравнивание по центру */
    }
     p{
     font-size: 1.2em;}
  </style>
 <div class="login-form">
      <legend>Пароль изменен</legend>


<p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для входа в систему</p>
  <a href="{% url 'users:login' %}"><button class="btn">Войти в систему</button></a>.
 </div>
 </div></body></html>
