{% extends "base.html" %}
{% load static %}
{% block title %}О портале{% endblock %}

{% block pageTitle %}
О портале
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Портал «Городские решения»</h1>
  <p>
    Портал «Городские решения» - проект, разработанный с целью улучшения качества жизни горожан через активное участие в жизни города.
    На портал житель может сообщить о проблемах в содержании городских объектов (некачественной уборке, наличии ям, неисправности освещения и пр.) и проконтролировать качество устранения проблем городскими службами.
  </p>

  <h2 class="mt-4">Как сообщить о проблеме:</h2>
  <ol>
    <li>Укажите местоположение проблемы на карте района.</li>
    <li>Введите подробности проблемы.</li>
    <li>Мы отправим информацию в местный совет от вашего имени.</li>
  </ol>

  <h2 class="mt-4">Дополнительные возможности:</h2>
  <p>
    Кроме того, на портале предусмотрена возможность следить за статусом решения ваших заявок и получать уведомления о ходе устранения проблемы.
  </p>
</div>
какие-то документы надо дать сюда

{% endblock %}
