{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block pageTitle %}
Главная
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="stats">
        <div class="stat-item">
            <p class="result">{{ resolved_reports_count }}</p>
            <p class="description">Решено проблем</p>
        </div>

        <div class="stat-item">
            <p class="result">{{ users_count }}</p>
            <p class="description">Зарегистрировано пользователей</p>
        </div>

    </div>

    <div class="image-section">

        <!-- Самая популярная категория и случайная проблема по ней -->
        {% if most_common_topic %}
        <a href="{% url 'reports:report_detail' random_report.id %}">
            <div class="most-common-category">

                <div class="image-container">
                    {% with random_report.images.first as image %}

                    {% if image %}
                    <img src="{{ image.image.url }}" alt="Городской пейзаж">
                    {% else %}
                    <img src="{% static 'images/1.jpg' %}" alt="Default Image">
                    {% endif %}
                    <div class="overlay">Посмотреть</div>

                    {% endwith %}
                </div>
                <h2>Самая частая проблема: {{ most_common_topic }}</h2>  <!-- Отображаем название темы -->
                <h3 class="report-title">{{ random_report.title }}</h3>
            </div>
        </a>
        {% endif %}
    </div>
</div>

<div class="main-end">
    <h2>Результаты работы портала</h2>
    <section class="results">


        {% for report in reports %}
        <a href="{% url 'reports:report_detail' report.id %}">
        <div class="result-card">
            <div class="image-container">
                {% with report.images.first as image %}

                    {% if image %}
                    <img src="{{ image.image.url }}" alt="{{ report.title }}">
                    {% else %}
                    <img src="{% static 'images/1.jpg' %}" alt="Default Image">
                    {% endif %}
                    <div class="overlay">Посмотреть</div>

                {% endwith %}
            </div>
            <h3 class="report-title">{{ report.title }}</h3>  <!-- Добавляем заголовок -->
            <p class="report-status">Статус: {{ report.get_status_display }}</p>  <!-- Отображение статуса -->

        </div>
        </a>
        {% endfor %}


    </section>
</div>
{% endblock %}
